<main class="main">
  <div class="container">
    <section class="designers_builders">
      <h1 class="designers_builders-title">{{'Дизайнерам та забудовникам'|uppercase}}</h1>
      <img class="designers_builders-baner" src="assets/designers_builders/baner_1.svg" alt="">
      <div class="designers_builders-text-block font-p">
        <p class="designers_builders-text">70% наших проектів є довгостроковим партнерством на будівельному ринку. Ми маємо необхідні ресурси і замкнутий цикл для повної реалізації ваших ідей будь-якого масштабу.
          Наш індивідуальний підхід до потреб партнера дозволяє запропонувати не тільки вибір із широкого асортименту, а й двері на індивідуальне замовлення відповідно до Вашого заявленого проекту. Наша команда допомагає у вирішенні питань, пов'язаних з вибором, комплектацією та встановленням дверей.
        </p>
        <h6 class="designers_builders-text">
          {{'Що ми пропонуємо'| uppercase}}
        </h6>
        <ul class="designers_builders-list font-p">
          <li><p>10-річний досвід комплексних рішень для приватних та громадських об'єктів: житлових комплексів, котеджних селищ, офісних центрів, торгових та спортивних центрів, дитячих закладів;</p></li>
          <li><p> індивідуальні партнерські умови;</p></li>
          <li><p>професійну допомогу у підборі дверей;</p></li>
          <li><p>чіткість виконання замовлень;</p></li>
          <li><p>оптимальні терміни та умови постачання;</p></li>
          <li><p>інформацію про тренди та надходження нових колекцій.</p></li>
        </ul>
        <p>Ми пропонуємо не просто співпрацю, ми стаємо однією командою, ми працюємо разом та разом отримуємо прибуток.</p>
      </div>
    </section>
  </div>
</main>

