@import 'mixins';
@import 'colors';

.main{
  margin: 35px 0 200px 0;
}

.container{
  @include container(1350px);
}

.designers_builders{
  &-title{
    @include fontMain(700, 2.65rem, 46px);
    text-align: center;
    color: $c6;
    margin: 35px 0 40px 0;
    @media(max-width: 1000px){
      font-size: 1.35rem;
    }
  }
  &-baner{
    width: 100%;
  }
  &-text-block{
    margin: 60px 0 200px 0;
  }
  &-text{
    margin-bottom: 20px;
    
    word-spacing:-2px;
    white-space: break-spaces;
  }
  &-list{
    margin: 0 20px 0 20px;
    list-style-type: inside ;
    list-style-image: url('../../../../assets/how-order/romb_1.svg');
    list-style-position: inside;
    
    word-spacing:-2px;
    white-space: break-spaces;
    & > li{
      margin-left: 20px;
      margin-bottom: 20px;
      
      word-spacing:-2px;
      white-space: break-spaces;
      & > p{
        display: inline;
        margin-left: 20px;
        
        word-spacing:-2px;
        white-space: break-spaces;
      }
    }
  }   
}