<main class="main">
  <section class="door-photos">
    <div class="img-wrap">
      <img [routerLink]="'/store/catalog'" class="img" src="assets/section_door_in_or_through/door_through.png" alt="">
      <div class="img-text-block-top">
        <p>Міжкінатні</p>
      </div>
      <div class="img-text-block-top">
        <p>Двері</p>
      </div>
    </div>
    <div class="img-wrap">
      <img [routerLink]="'/store/catalog'" class="img" src="assets/section_door_in_or_through/door_in.png" alt="">
      <div class="img-text-block-top-2">
        <p>Вхідні</p>
      </div>
      <div class="img-text-block-top-2">
        <p>Двері</p>
      </div>
    </div>
   
  </section>
  <div class="container">
    <section class="second-nav">
      <div *ngFor="let link of secondNavLinks" [routerLink]="link.path" class="link-wrap">
        <p class="link">{{link.text}}</p>
      </div>
    </section>
    <dsf-line></dsf-line>
    <section  class="our-manufacturers">
      <dsf-our-manufacturers></dsf-our-manufacturers>
      <h3 class="our-manufacturers-subtitle">
        <span class="margin-right-135">Ми гарантуємо високий рівень технічних знань,</span><br><span class="margin-left-135">професіоналізм, безпеку, надійність, комфорт.</span>
      </h3>
      <div class="our-manufacturers-info">
        <div class="our-manufacturers-card">
          <div class="our-manufacturers-img-wrap">
            <img class="our-manufacturers-img" src="assets/section_our_manufacturers/info/yakist.png" alt="">
          </div>
          <p class="our-manufacturers-card-text">
            Наш асортимент  
            складається з  моделей,
             в якості яких 
            ми впевнені на 100%.</p>
        </div>
        <div class="our-manufacturers-card">
          <div class="our-manufacturers-img-wrap">
            <img class="our-manufacturers-img" src="assets/section_our_manufacturers/info/garantiy.png" alt="">
          </div>
          <p class="our-manufacturers-card-text">
            Надаємо гарантію 
            на двері та фурнітуру, 
            як і на всю нашу продукцію.</p>
        </div>
        <div class="our-manufacturers-card">
          <div class="our-manufacturers-img-wrap">
            <img class="our-manufacturers-img" src="assets/section_our_manufacturers/info/klienti.png" alt="">
          </div>
          <p class="our-manufacturers-card-text">Ми маємо довіру найбільших
            будівельних компаній та корпорацій, 
           архітекторів та дизайнерів, 
           власників приватних будинків.</p>
        </div>
        <div class="our-manufacturers-card">
          <div class="our-manufacturers-img-wrap">
            <img class="our-manufacturers-img" src="assets/section_our_manufacturers/info/rozvitok.png" alt="">
          </div>
          <p class="our-manufacturers-card-text">
            Прагнемо постійного розвитку, стежимо за інноваціями та трендами, щоб запропонувати найкращі двері для Вашого комфорту.</p>
        </div>
      </div>
    </section>
    <dsf-line ></dsf-line>
  </div>
  <section  class="free-sample">
    <div #freeZamir class="free-sample-form-wrap">
      <h1 class="free-sample-title">{{'Замовити безкоштовний замір' | uppercase}}</h1>
      <form class="free-sample-form" [formGroup]="zamirForm">
        <input formControlName="name" type="text" placeholder="Ім'я">
        <input formControlName="phone" type="tel" placeholder="Телефон">
        <input formControlName="address" type="text" placeholder="Адреса">        
        <button 
          (click)="sendZamirForm()"
          [disabled]="zamirForm.invalid" 
          >{{'Безкоштовний замір' | uppercase}}</button>
      </form>
    </div>
  </section>

  <div class="choose-door">
    <section #freeConsultation class="choose-door-form-wrap">
      <h1 class="choose-door-title">{{'підібрати двері і розрахувати вартість' | uppercase}}</h1>
      <form class="choose-door-form" [formGroup]="consultationForm">
        <input formControlName="name" type="text" placeholder="Ім'я">
        <input formControlName="phone" type="tel" placeholder="Телефон">        
        <button 
          (click)="sendConsultationForm()"
          [disabled]="consultationForm.invalid" 
          >{{'Залишити запит' | uppercase}}</button>
      </form>

    </section>
    
    <div class="container">
      <div class="dsa-line-choose-door">
        <dsf-line></dsf-line>
      </div>

      <div [ngStyle]="{ 'justify-content': products.length === 1 ? 'center' : 'space-between'}" 
           [ngStyle]="{ 'justify-content': products.length === 2 ? 'space-evenly' : 'space-between'}"
           class="choose-door-group">
        <div *ngFor="let card of products| slice:0:3" class="choose-door-card">
          <div class="choose-door-img-wrap">
            <img class="choose-door-img" [src]="card.images[0]" alt="">
          </div>
          <h5 class="choose-door-text">{{card.name}}</h5>
          <button (click)="redirectToCard(card.id)" class="choose-door-button">Докладніше</button>
          <h4 class="choose-door-price">{{card.price}} грн</h4>
        </div>
      </div>
    </div>
  </div>
</main>



