<main class="main">
  <div class="container">
    <section class="how_measurement">
      <h1 class="how_measurement-title">{{ "Замір дверей" | uppercase }}</h1>
      <img
        class="how_measurement-baner"
        src="assets/door-zamir/baner_1.svg"
        alt=""
      />
      <div class="how_measurement-text-block">
        <p class="how_measurement-text">
          При замовленні дверей у Вас має бути виконан замір прорізу. Якщо Ви
          маєте необхідні навички, то ви можете виконати замір самостійно, а ми
          допоможемо Вам – скористайтеся нашими рекомендаціями, які надані
          нижче.
        </p>
        <ul class="how_measurement-list font-p">
          <li>
            <p>
              Вимірювання дверного отвору виконують після зняття лиштви та
              дверної коробки старих дверей.
            </p>
          </li>
          <li>
            <p>
              Точне вимірювання габаритів дверного отвору проводять після
              оздоблення стін та укладання декоративного покриття для підлоги, а
              попередній замір дверного отвору роблять до виконання чорнового
              оздоблення, для того щоб підібрати розмір отвору відповідно до
              лінійки стандартних полотен.
            </p>
          </li>
          <li>
            <p>
              Знімайте всі розміри в кількох точках (згори, знизу та всередині
              отвору), тому що стіни рідко бувають рівними і перепад стін часто
              непомітний візуально, а при встановленні - двері можуть просто не
              увійти в отвір.
            </p>
          </li>
          <li>
            <p>
              Габарити отвору мають бути більшими на 10-15 мм габаритів дверей
              для монтажного зазору між дверним коробом та стіною. Зазор
              необхідний щоб встановити та відрегулювати дверний блок, та
              забезпечити вільний хід полотна, а також для якісного загортання
              монтажного шва.
            </p>
          </li>
        </ul>
      </div>
      <img
        class="how_measurement-baner"
        src="assets/door-zamir/baner_2.svg"
        alt=""
      />
      <div class="how_measurement-text-block">
        <p>
          За даними параметрами, консультант зможе вам підібрати правильний
          розмір вхідних дверей, визначить спосіб встановлення, а також підкаже
          чи будуть додаткові роботи. Якщо Ви плануєте робити це вперше, то
          радимо не ризикувати та довірити цей процес фахівцям. Вимірювання, яке
          виконане правильно, дозволить уникнути додаткових монтажних робіт і
          заощадити час.
        </p>
        <p class="how_measurement-text">
          Ми пропонуємо своїм клієнтам викликати досвідченого замірника
          абсолютно безкоштовно. При замірі наш фахівець
        </p>
        <ul class="how_measurement-list font-p">
          <li>
            <p>
              проконсультує Вас з усіх технічних питань, пов'язаних із
              встановленням дверей,
            </p>
          </li>
          <li>
            <p>
              визначить існуючі габарити отвору і дасть рекомендації щодо його
              коригування, якщо виникне така необхідність.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>

