@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

//---------- MEDIA QUETIONS ------------


.img-wrapper {
  padding: 5px;
}

.img-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 550px;
}



.owl-theme .owl-nav [class*=owl-] .owl-prev {
  background-color: #E34F25 !important;
}

