@import 'colors';

.content{
  display: grid;
  gap: 2%;
  padding: 20px;
  margin-bottom: 20px;
}

mat-dialog-content{
  background-color: $c9;
}

.form-field-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $c11;
  align-self: flex-start;
  border: none;
  outline: none;
  margin-left: 20px;
  display: grid;
  place-items: center;
}

.product-constant{
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.add-images{
  
  &__title{
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    margin: 15px auto;
    transition: all .3s ease;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .3s ease-out;
  }
  &-wrap{
    margin-bottom: 20px;
  }
}

.btn-create{
  display: grid;
  place-items: center;
  margin: -20px 0 0 0;
  padding: 20px;
}