<section [ngSwitch]="product ? product!.typeOfProduct.name : null" class="info">
      <div class="info-table-wrap">
        <h2 class="info-title">{{'Характеристика'|uppercase}}</h2>
        <table class="info-table">
          <tr>
            <th>Назва</th>
            <td>{{product?.name}}</td>
          </tr>
          <tr>
            <th>Виробник</th>
            <td>{{product?.productProducer!.name}}</td>
          </tr>
          <tr>
            <th>Країна виробник</th>
            <td>{{product?.country}}</td>
          </tr>
          <tr>
            <th>На складі</th>
            <td>{{product?.inStock}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні' || 'Двері вхідні'" >
            <th>Товщина полотна</th>
            <td>{{product?.fabricMaterialThickness}} мм</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'" >
            <th>Висота полотна</th>
            <td>{{product?.fabricMaterialHeight}} мм</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'" >
            <th>Ширина полотна</th>
            <td>{{convertingToString(product!.fabricMaterialWidth).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'" >
            <th>Шумоізоляція</th>
            <td>{{convertingToString(product!.doorIsolation).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'" >
            <th>Короб</th>
            <td>{{convertingToString(product!.doorFrameMaterial).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'" >
            <th>Добірна дошка</th>
            <td>{{convertingToString(product!.doorSelectionBoard).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'" >
            <th>Лиштва</th>
            <td>{{convertingToString(product!.doorWelt).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні' || 'Двері вхідні'">
            <th>Дверна ручка</th>
            <td>{{convertingToString(product!.doorHand).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'">
            <th>Дверний механізм</th>
            <td>{{convertingToString(product!.doorMechanism).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'">
            <th>Дверні петлі</th>
            <td>{{convertingToString(product!.doorLoops).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'">
            <th>Дверний стоппор</th>
            <td>{{convertingToString(product!.doorStopper).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері міжкімнатні'">
            <th>Роздвижна система</th>
            <td>{{convertingToString(product!.doorSlidingSystem).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'">
            <th>Товщина короба</th>
            <td>{{product?.frameMaterialThickness}} мм</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Утеплення</th>
            <td>{{convertingToString(product!.doorInsulation).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Оздоблення</th>
            <td>{{convertingToString(product!.covering).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Глазок</th>
            <td>{{product?.doorPeephole ? 'Є' : 'Відсутній'}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Тип відкривання</th>
            <td>{{convertingToString(product!.openingType).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Розмір</th>
            <td>{{convertingToString(product!.size).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Нижній замок</th>
            <td>{{convertingToString(product!.lowerLock).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Верхній замок</th>
            <td>{{convertingToString(product!.upperLock).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Вага</th>
            <td>{{convertingToString(product!.weight).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Товщина металу</th>
            <td>{{product?.metalThickness}} мм</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Конструкція короба</th>
            <td>{{convertingToString(product!.frameMaterialConstruction).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Двері вхідні'" >
            <th>Контур ущільнення</th>
            <td>{{convertingToString(product!.sealerCircuit).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Москітна сітка</th>
            <td>{{convertingToString(product!.mosquitoNet).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Підвіконня</th>
            <td>{{convertingToString(product!.windowSill).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Відлив</th>
            <td>{{convertingToString(product!.windowEbb).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Ручка віконна</th>
            <td>{{convertingToString(product!.windowHand).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Дитячий замок</th>
            <td>{{convertingToString(product!.childLock).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Заглушка домогосподарки</th>
            <td>{{convertingToString(product!.housewifeStub).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Доповнення до стеклопакету</th>
            <td>{{convertingToString(product!.glassPocketAdd).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Ламінація</th>
            <td>{{convertingToString(product!.lamination).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Профіль</th>
            <td>{{convertingToString(product!.profile).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Ширина вікна</th>
            <td>{{product!.windowWidth}} мм</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Висота вікна</th>
            <td>{{product!.windowHeight}} мм</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Кількість камер</th>
            <td>{{convertingToString(product!.camerasCount).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Особливості</th>
            <td>{{convertingToString(product!.features).join(', ')}}</td>
          </tr>
          <tr *ngSwitchCase="'Вікна'" >
            <th>Кількість секцій</th>
            <td>{{convertingToString(product!.sectionsCount).join(', ')}}</td>
          </tr>
          
        </table>
      </div>
      <div class="info-table-wrap">
        <h2 class="info-title">{{'Опис'|uppercase}}</h2>
        <div class="info-table-block">
          <p>{{product?.description ? product?.description : 'Опис товару відсутній'}}</p>
        </div>
      </div>
      
    </section>
