<main class="main">
  <div class="container">
    <section class="door_installation">
      <h1 class="door_installation-title">{{'Монтаж'|uppercase}}</h1>
      <img class="door_installation-baner" src="assets/door_installation/baner_1.svg" alt="">
      <div class="door_installation-text-block font-p">
        <p class="door_installation-text">Двері, як вхідні, так і міжкімнатні, повинні бездоганно виконувати свої функції навіть через багато років роботи. Щоб двері служили довго важлива не тільки якість дверей, але і якість її монтажу.</p>
        <ul class="door_installation-list font-p-sm">
          <li><p>Після встановлення дверей на полотні, коробці, лиштвах та доборах, а також на фурнітурі не повинно бути подряпин, сколів, вм'ятин та слідів монтажної піни. Це рекомендуємо перевірити не лише після монтажу, а й до нього.</p></li>
          <li><p>Після монтажу вся конструкція повинна бути жорсткою, тобто при зачиненні та відчиненні дверей, дверна коробка не повинна рухатися щодо стін, навіть якщо у деяких членів Вашої родини «важка рука».</p></li>
          <li><p>Конструкція дверей повинна бути вивірена по горизонталі та по вертикалі. Ідеальний варіант, коли дверні прорізи з правильною геометрією. Як перевірити правильність встановлення дверей? Потрібно відчинити двері на 45 градусів і, якщо двері з цього положення не прагнуть відчинитися або зачинитися, значить вся конструкція встановлена ​​рівно.</p></li>
          <li><p>Відсутність щілин між дверною коробкою та стіною. Дверна коробка повинна підходити під дверний отвір. Добори в міжкімнатних дверях повинні мати ширину, щоб між наличником та стіною не було щілини. А для збереження шумо- та теплоізоляції не повинно бути щілин між ущільнювачем і дверною коробкою. При монтажі вхідних дверей цей момент особливо важливий.</p></li>
          <li><p>Безшумна робота. Завіси в жодному разі не повинні рипіти, а дверне полотно міжкімнатних дверей не повинно торкатися підлоги. Міжкімнатні двері повинні встановлюватися на висоті 1-2 сантиметри від підлоги з урахуванням порожка та мінімального провису дверного полотна. Необхідно також врахувати, що якщо у вас ковролін з довгим ворсом, то двері краще повісити вище.
          </p></li>
          <li><p>Двері не повинні зачіпати дверну коробку, інакше це пошкодить покриття дверного полотна та коробки, а також створюватиме стукіт при відкритті та закритті.</p></li>
          <li><p>Перевіряйте роботу всіх замків та дверного язика. Замикання має відбуватися без зусиль.</p></li>
          <li><p>Дверна ручка має бути жорстко зафіксована.</p></li>
        </ul>
        <p>Важливо, щоб встановлення дверей здійснювали підготовлені спеціалісти. Інакше ймовірність неправильного монтажу дуже велика, що спричинить ряд несприятливих наслідків.</p>
      </div>
    </section>
  </div>
</main>

