<main class="main">
  <div class="container">
    <section class="choose_door">
        <h1 class="choose_door-title">{{'Вибір дверей'|uppercase}}</h1>
        <img class="choose_door-img" src="assets/choose_door/baner_1.svg" alt="">
        <p class="choose_door-text font-p">Під час вибору дверей важливо враховувати такі моменти:</p>
        <ul class="choose_door-list font-p">
          <li><p>Призначення – вхідні або міжкімнатні двері.</p></li>
          <li><p>Експлуатаційні характеристики</p></li>
          <li><p>Ступінь безпеки, звуко- та теплоізоляції – для вхідних дверей.</p></li>
          <li><p>Екологічність, стійкість до навантажень, дизайн, простота догляду – для міжкімнатних дверей.</p></li>
          <li><p>Ціновий діапазон.</p></li>
        </ul>
        <p class="choose_door-text font-p">Для нас має значення, щоб двері, які Ви придбали у нас, тішили вас і прослужили довгі роки. Тому ми радимо вам попередню консультацію з нашим фахівцем, який і допоможе зробити вибір, враховуючи Ваші запити та побажання. Це допоможе надалі уникнути додаткових монтажних робіт та заощадити час монтажу дверей.<br>
          Вимірювання виконується БЕЗКОШТОВНО.<br>
          Можливо, ви самостійно вивчили заздалегідь всю можливу інформацію про двері, то для самостійного вибору Ви можете скористатися розширеним фільтром товарів.
        </p>
        <button [routerLink]="'/catalog'" class="choose_door-btn">{{'Перейти до каталогу'|uppercase}}</button>
        <p class="choose_door-text font-p">
          Після того як Ви зробили свій вибір, достатньо зв'язатися з нами за телефонами т. +38(050)777-91-51  +38(067)777-91-51 +38(093)777-91-51, або залишити запит на зворотній дзвінок або оформити замовлення прямо на сайті.
        </p>
    </section>
    <section class="choose_door_info">
      <form [formGroup]="consultationForm" class="choose_door_info-form" >
        <input formControlName="name" type="text" placeholder="Ім'я">
        <input formControlName="phone" type="tel" placeholder="Телефон">
        <button 
          (click)="sendConsultationForm()" 
          [disabled]="consultationForm.invalid" >
          {{'Замовити консультацію' | uppercase}}
        </button>
      </form>
      <h2 class="choose_door_info-title font-h2">{{'Вибириємо вхідні двері'|uppercase}}</h2>
      <p class="font-p-sm">
        Зломостійкість - один із важливих показників безпеки вхідних дверей. Клас зломостійкості залежить від різних конструктивних рішень - товщини металевої обшивки, кількості ребер жорсткості, ступенем захисту замків від силових впливів, міцності каркасу і т.п.<br>       Щоб правильно вибрати металеві двері, звертайте увагу на:
      </p>
      <ul class="choose_door_info-group">
        <li><p class="font-p-sm">склад дверного полотна;</p></li>
        <li><p class="font-p-sm">товщину металу у рамі;</p></li>
        <li><p class="font-p-sm">кількість, надійність та тип замків;</p></li>
        <li><p class="font-p-sm">надійність завісів.</p></li>
      </ul>
      <h6 class="font-h6 font-underline">
        Полотно
      </h6>
      <p class="font-p-sm">
        Товщина дверного полотна від 80 до 90 мм із контурними ущільнювачами – це вже значний захист від протягів, шуму та сторонніх запахів. Однак порожнисті вхідні двері не захистять вас від звуків ззовні та від холоду, тому простір між металевими листами заповнюють утеплювачем, на матеріал якого необхідно звертати увагу.
        Горизонтальні та вертикальні ребра жорсткості підвищують захист від злому, забезпечують жорсткість конструкції та запобігають деформації. Загальна кількість ребер жорсткості від 2 до 10. Чим більше у конструкції ребер жорсткості, тим міцнішим, важким і надійним буде дверне полотно.
        Зовнішня частина полотна повинна бути стійка до механічних пошкоджень, перепадів температур.
      </p>
      <h6 class="font-h6 font-underline">
        Товщина металу
      </h6>
      <p class="font-p-sm">Листи металу дверного полотна повинні бути цілісним і не мати зварних швів, інакше двері легко пошкодити посиленим механічним впливом. Товщина металу на полотні – не менше ніж 1,5 мм.</p>
      <h6 class="font-h6 font-underline">
        Замки
      </h6>
      <p class="font-p-sm">
        Найкраще, якщо вхідні двері будуть з двома замками різної конфігурації: комбінація сувальдного та циліндрового або моноблок. Моноблок - це єдиний блок, що поєднує в собі два типи замку. Зламати його значно складніше, ніж сувальдний та циліндровий окремо.
      </p>
      <h6 class="font-h6 font-underline">
        Завіси 
      </h6>
      <p class="choose_door_info-text font-p-sm">
        Основні функції дверних петель – кріплення дверного полотна до рами та забезпечення плавного відчинення та закривання дверей. Але досить часто зламують саме з боку петель, тому найкраще рішення – це петлі на підшипниках у комплексі із встановленими антизрізами.
        Кількість петель залежить в першу чергу від маси дверного полотна і від функціонального навантаження на двері. Недостатня кількість петель на важких дверях може стати причиною їхнього передчасного виходу з ладу. Тому двері можуть мати дві, три та більше петель.
      </p>
      <div class="choose_door_info-block font-p-sm">
        <h2 class="choose_door_info-title font-h2">{{'Вибириємо вхідні двері'|uppercase}}</h2>
        <p class="choose_door_info-text">
          Головний показник для вибору міжкімнатних дверей – це матеріал її виготовлення. Адже, за великим рахунком, від нього залежать характеристики дверей, а також її вартість. Для того щоб Ви могли вибрати необхідний матеріал, скажімо пару слів про кожен з них, відзначимо їх основні плюси та мінуси.
        </p>
        <p>
          <span class="font-h6">Масив дерева</span> – натуральний, екологічний, міцний матеріал. Зараз на ринку дверей зустрічається дедалі рідше.
        </p>
        <ul class="choose_door_info-text">
          <li><p><span class="font-h6 plus_minus-margin">+</span>Натуральні вентиляційні властивості, екологічні, міцні, довговічні, благородний зовнішній вигляд.</p></li>
          <li><p><span class="font-h6 plus_minus-margin ml-minus">-</span>Чутливі до перепадів температури та вологи, висока вартість.</p></li>
        </ul>
        <p>
          <span class="font-h6">Шпон</span> – це тонкий зріз верхнього шару деревини, що зберігає структуру та колір дерева, завтовшки від 0,1 до 10 мм. Каркас під шпоном зазвичай із ДСП або МДФ. МДФ легше і не містить шкідливих речовин, але дорожче.
        </p>
        <ul class="choose_door_info-text">
          <li><p><span class="font-h6 plus_minus-margin">+</span>Гарна вологостійкість, звукоізоляція, екологічний доступний матеріал, ремонтопридатність.</p></li>
          <li><p><span class="font-h6 plus_minus-margin ml-minus">-</span>Схильні до впливу сонячних променів</p></li>
        </ul>
        <p>
          <span class="font-h6">Екошпон</span>– матеріал на основі натуральних волокон деревини, які з'єднані невеликою кількістю клею. Каркас дверей з екошпона може бути з дерева, пластику чи картону.
        </p>
        <ul class="choose_door_info-text">
          <li><p><span class="font-h6 plus_minus-margin">+</span>Імітує масив дерева, гарна звукоізоляція, вологостійкість, екологічний.</p></li>
          <li><p><span class="font-h6 plus_minus-margin ml-minus">-</span>Невисока міцність, слабка ремонтопридатність</p></li>
        </ul>
        <p>
          <span class="font-h6">ПВХ плівка</span> як облицювання виглядає простіше екошпона. Це абсолютно плоске полотно, яке складається з двох листів МДФ (або ДСП у дешевому варіанті), по периметру рама, усередині стільника. Покритий цей каркас полівінілхлоридом, на який можна нанести будь-який малюнок, дуже точно повторює малюнок і фактуру натурального дерева.
        </p>
        <ul>
          <li><p><span class="font-h6 plus_minus-margin">+</span>Міцність, вологостійкість, пожежна безпека, стійкість до навантажень, простий догляд, доступна вартість.</p></li>
          <li><p><span class="font-h6 plus_minus-margin ml-minus">-</span>За жорстких умов експлуатації можливе розшарування кромки, слабка ремонтопридатність.</p></li>
        </ul>
        <p class="choose_door_info-text">
          Забарвлені двері по конструкції можуть бути абсолютно будь-якими. Найчастіше це комбіновані двері з поверхнею із МДФ, але фарбують і двері з масиву. Фарбують як якісною зносостійкою емаллю, як у наших дверях, так і дешевою порошковою фарбою.
          Властивості матеріалу полотна впливають на тепло- та звукопровідність дверей, на міцність усієї дверної системи, а відповідно і на тривалість її експлуатації.
          Після того, як Ви визначилися з матеріалом дверей, який підходить для Вашої оселі сміливо можна приступати до вибору стилю та кольору дверей. Міжкімнатні двері можна підбирати під колір підлоги, плінтусів та стін. Однак останнім часом досить часто відтінок дверей вибирають під колір меблів, які встановлені в кімнатах.
          За способом відкриття/зачинення міжкімнатні двері можуть розпашними (одностулковими або двостулковими) або рідше розсувними. З цим пунктом Вам визначитись буде не складно.
          Також при замовленні дверей Вам необхідно буде знати бік відкриття. Для того щоб правильно визначити відкриття дверей досить стати обличчям до дверей із зовнішнього боку. Якщо дверні петлі будуть зліва, то двері ліві. Це важливо знати і для встановлення дверних замків чи ручок.
        </p>
        <p class="choose_door_info-text">
          Приділіть особливу увагу фурнітурі. Неякісні ручки, замки та петлі здатні зіпсувати враження від найпрезентабельніших і найдорожчих дверей. За останні роки на ринку фурнітури з'явилося багато новинок. Так петлі можуть бути прихованими – займають мінімальний простір і не псують інтер'єр. Приховані петлі надійні, мають плавний хід і можуть витримати досить високе навантаження.
        </p>
        <p class="choose_door_info-text">
          При виборі замку, зверніть увагу на магнітний замок, який має безшумний механізм.
        </p>
        <p>
          Нюансів та критеріїв, що впливають на вибір міжкімнатних дверей, досить багато. Але, якщо врахувати важливі фактори, то вибрані двері будуть не тільки чудово підходити до інтер'єру приміщення, але й прослужать довгий термін, виконуючи всі важливі для Вас функції.
        </p>
      </div>
    </section>
  </div>
</main>

