<main class="main">
  <section class="guarantee">
    <div class="container">
      <h1 class="guarantee-title">{{'Гарантія'| uppercase}}</h1>
      <img class="guarantee-baner" src="assets/guarantee/baner_1.svg" alt="">
    <p class="guarantee-text">Відповідно до чинного законодавства України, гарантія на двері діє щонайменше рік. Проте, виробники часто дають вищий гарантійний термін – до 5 років.</p>
    <div class="guarantee-group">
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_rodos.png" alt="">
        </div>
        <p class="guarantee-item-text">Виробник гарантує збереження всіх експлуатаційних функцій дверних блоків
          упродовж 12 (дванадцяти) календарних місяців з моменту введення дверей 
        в експлуатацію, для громадських приміщень - 6 (шість) календарних місяців. 
        При дотриманні та виконанні всіх рекомендацій щодо встановлення та обслуговування
        дверних блоків, гарантійний термін експлуатації визначається 
        ДСТУ Б В.2.6.-23:2009; Б В2.6.-99:2009 (EN 14351-1:2006, NEQ)
        Гарантійний термін зберігання становить рік із дати виготовлення дверних блоків.</p>
      </div>
      <div class="guarantee-group-item">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_leador.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Відповідно до чинного законодавства України, гарантія на двері діє щонайменше рік.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_neman.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Гарантійний термін експлуатації складає 18 місяців з дати введення дверей в експлуатацію, згідно з актом виконаних робіт.
          Гарантійний термін зберігання складає п'ять років з дати виготовлення дверних блоків.
        </p>
      </div>
      <div class="guarantee-group-item">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_stil_doors.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Відповідно до чинного законодавства України, гарантія на двері діє щонайменше рік.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_terminus.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Гарантійний термін експлуатації складає п'ять років із моменту введення дверей в експлуатацію.
          Гарантійний термін зберігання складає один рік з дати виготовлення дверних блоків.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_korfad.png" alt="">
        </div>
        <p class="guarantee-item-text">          
          Міжкімнатні двері Korfad - гарантія 5 років.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_portala.png" alt="">
        </div>
        <p class="guarantee-item-text">          
          Відповідно до чинного законодавства України, гарантія на двері діє щонайменше рік.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_bulat.png" alt="">
        </div>
        <ul class="guarantee-item-text">          
          На всі вироби торгової марки «Булат» надається гарантія 12 місяців з дня впровадження в експлуатацію.
          Квартирні двері із серії дверей: Оптима, Стандарт, Престиж, Магнат, ВІП, Люкс, Гарант, Олімп, Максимум, Еліт, Комфорт, Сек’юриті, FORTEZZA, GRAND, SECRET, POWER 
          <li class="guarantee-item-text-disc">5 років гарантії на виріб (накладки МДФ, каркас двері, покриття);</li>
          Вуличні двері із серії дверей: Оптима, Стандарт, Престиж, Магнат, ВІП, Люкс, Гарант, Олімп, Максимум, Еліт, Комфорт, Сек’юриті, FORTEZZA, GRAND, SECRET, POWER 
          <li class="guarantee-item-text-disc">1 рік гарантії на виріб (накладки МДФ, каркас двері, покриття);</li>
          Вуличні двері із серії дверей: House, Termo
          <li class="guarantee-item-text-disc">3 роки гарантії на виріб (накладки МДФ, каркас двері, покриття);</li>
        </ul>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_artdoor.png" alt="">
        </div>
        <p class="guarantee-item-text">          
          Відповідно до чинного законодавства України, гарантія на двері діє щонайменше рік.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_steko.png" alt="">
        </div>
        <p class="guarantee-item-text">          
          Фабрика пластикових вікон Steko забезпечує гарантію на вироби від 5 до 10 років.
          Так, на конструкції з українських профільних систем S500 та S700 поширюється гарантія 5 років.
          На вироби з німецького профілю Steko Ideal – 10 років.
          Гарантія від виробника дозволить вам не турбуватися про якість продукції та позбавить від додаткових витрат, що виникають у процесі її експлуатації.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_danapris.png" alt="">
        </div>
        <p class="guarantee-item-text">          
          Відповідно до чинного законодавства України, гарантія на двері діє щонайменше рік.
        </p>
      </div>
    </div>
    <p class="p-sm-i guarantee-under-text">Гарантія на фурнітуру від 2 до 5 років, відповідно до даних виробника</p>
    </div>
  </section>
</main>



