@import 'mixins';
@import 'colors';

.main{
  margin-top: 35px;
  @include fontMain(400, 1.41rem, 27.6px);
  @media(max-width: 700px){
    @include fontMain(400, 1rem, 20.6px);
  }
}


.link-wrap{
  cursor: pointer;
  min-width: 350px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all .3s ease-out;
  margin-right: 70px;
  @include fontMain(700);
  text-align: center;
  border: 0 solid rgba(0, 0, 0, 0.2);
  &:hover{
    border: 0.25px solid rgba(0, 0, 0, 0.2);
    box-shadow: 10px 12px 18px 2px rgba(0, 0, 0, 0.2);
  }
  @media(max-width: 1325px){
    margin-right: 0;
  }
}


.container{
  @include container(1350px);
}

.guarantee{
  margin-top: 80px;
  color: $c6;
  &-title{
    @include fontMain(700, 2.85rem, 46px);
    text-align: center;
    margin-bottom: 40px;
  }
  &-baner{
    width: 100%;
    margin-bottom: 72px;
  }
  &-text{ 
    margin-bottom: 52px;
  }
  &-group{
    margin-bottom: 65px;
    &-item{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      @media (max-width: 1325px) {
        justify-content: center;
      }
    }
    
  }
  &-item-text{
    width: 67.5%;
    color: $c3;
    text-align: justify;
    word-spacing:-2px;
    white-space: break-spaces;
    &-disc{
      list-style-type: disc;
    }
  }
  &-under-text{
    margin-bottom: 150px;
  }
}

