//COLORS

$c1: #fff;
$c2: #AB372E;
$c3: #000;
$c4: #8B9EA2;
$c5: #D9D9D9;
$c6: #033579;
$c7: #999999;
$c8: #0E7600;
$c9: #D9D9D9;
$c10: #FEF407;
$c11: #53A6BE;
$c12: #9EBDBD;
$c13: #A6DDD8;
$c14: #FFFEB8;
$c15: #db8e19a2;
$c16: #ff5100;


$c17: #282240;
$c18: #1d4568;

$c19: #323264;
$c20: #46466e;
$c21: #e6e6f0;

//classes for color and background

@each $number,
  $hex
    in (
      1: $c1,
      2: $c2,
      3: $c3,
      4: $c4,
      5: $c5,
      6: $c6,
      7: $c7,
      8: $c8,
      9: $c9,
      10: $c10,
      11: $c11,
      12: $c12,
      13: $c13,
      14: $c14,
      15: $c15,
      16: $c16,
      17: $c17,
      18: $c18,
      19: $c19,
      20: $c20,
    )
{
  .c#{$number} {
    color: $hex;
  }
  .bg#{$number} {
    background-color: $hex;
  }
}