@import 'colors';

.content{
  display: grid;
  gap: 2%;
  padding: 20px;
  margin-bottom: 20px;
}

mat-dialog-content{
  background-color: $c9;
}

.form-field-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $c11;
  align-self: flex-start;
  border: none;
  outline: none;
  margin-left: 20px;
  display: grid;
  place-items: center;
}

.product-constant{
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.add-images{
  
  &__title{
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__btn{
    border: none;
    outline: none;
    padding: 5px 10px;
    margin: 15px auto;
    transition: all .3s ease;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .3s ease-out;
  }
  &-wrap{
    margin-bottom: 20px;
  }
  &__preview{
    &-wrap{
      overflow-x: auto;
      min-height: 250px;
    }
    &-items-wrap{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
    &-item-wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px; 
      flex: 0 0 auto;
      cursor: pointer;
      border: 1px solid $c4;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);;
      &:active{
        border: 2px solid $c4;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      & img{
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
}

.btn-create{
  display: grid;
  place-items: center;
  
  padding: 20px;
}