<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>
    {{ isEditMode() ? "редагування" : "створення" }} продукту "Міжкімнатні
    двері"
  </h2>

  <form [formGroup]="entranceDoorForm" class="content">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Виробник</mat-label>
      <mat-select formControlName="productProducerName">
        <mat-option
          [value]="producer.name"
          *ngFor="let producer of entranceDoorProducers"
          >{{ producer.name }}</mat-option
        >
      </mat-select>
      <mat-error
        *ngIf="
          entranceDoorForm.get('productProducerName')?.hasError('required')
        "
      >
        Виробник є <strong>обов'язковим</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Назва продукту</mat-label>
      <input matInput formControlName="name" />
      <mat-error
        *ngIf="
          entranceDoorForm.get('name')?.errors &&
          !entranceDoorForm.get('name')?.hasError('required')
        "
      >
        Мінімум 3 символи
      </mat-error>
      <mat-error *ngIf="entranceDoorForm.get('name')?.hasError('required')">
        Назва є <strong>обов'язковою</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Країна виробник</mat-label>
      <mat-select formControlName="country">
        <mat-option [value]="country.name" *ngFor="let country of countries">{{
          country.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="entranceDoorForm.get('country')?.hasError('required')">
        Країна є <strong>обов'язковою</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Гарантійний термін</mat-label>
      <mat-select formControlName="guarantee">
        <mat-option
          [value]="guarantee.name"
          *ngFor="let guarantee of guarantees"
          >{{ guarantee.name }}</mat-option
        >
      </mat-select>
      <mat-error
        *ngIf="entranceDoorForm.get('guarantee')?.hasError('required')"
      >
        Гарантійний термін є <strong>обов'язковим</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Ціна</mat-label>
      <input type="number" matInput formControlName="price" />
      <mat-error *ngIf="entranceDoorForm.get('price')?.hasError('required')">
        Ціна є <strong>обов'язковою</strong> характеристикою
      </mat-error>
      <mat-error
        *ngIf="
          entranceDoorForm.get('price')?.errors &&
          !entranceDoorForm.get('price')?.hasError('required')
        "
      >
        Число має бути більшим за <strong>0</strong> (позитивним)
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Наявність на складі</mat-label>
      <mat-select formControlName="inStock">
        <mat-option [value]="inStock.name" *ngFor="let inStock of inStocks">{{
          inStock.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="entranceDoorForm.get('inStock')?.hasError('required')">
        Наявність на складі є <strong>обов'язковою</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Товщина полотна</mat-label>
      <input type="number" matInput formControlName="fabricMaterialThickness" />
      <mat-error
        *ngIf="
          entranceDoorForm.get('fabricMaterialThickness')?.hasError('required')
        "
      >
        Товщина полотна є <strong>обов'язковою</strong>
      </mat-error>
      <mat-error
        *ngIf="
          entranceDoorForm.get('fabricMaterialThickness')?.errors &&
          !entranceDoorForm.get('fabricMaterialThickness')?.hasError('required')
        "
      >
        Число має бути більшим за <strong>0</strong> (позитивним)
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Товщина полотна</mat-label>
      <input type="number" matInput formControlName="frameMaterialThickness" />
      <mat-error
        *ngIf="
          entranceDoorForm.get('frameMaterialThickness')?.hasError('required')
        "
      >
        Товщина полотна є <strong>обов'язковою</strong> характеристикою
      </mat-error>
      <mat-error
        *ngIf="
          entranceDoorForm.get('frameMaterialThickness')?.errors &&
          !entranceDoorForm.get('frameMaterialThickness')?.hasError('required')
        "
      >
        Число має бути більшим за <strong>0</strong> (позитивним)
      </mat-error>
    </mat-form-field>
    <!-- <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 80%"
        >
          <mat-label>Ширина полотна</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="fabricMaterialWidth"
            multiple
          >
            <mat-option
              *ngFor="let item of fabricMaterialWidthItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button
          (click)="addFabricMaterialWidth()"
          class="btn-circle"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <p>{{ slashStylingOfFormField("fabricMaterialWidth") }}</p>
    </div>
    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 80%"
        >
          <mat-label>Шумоізоляція</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorIsolation"
            multiple
          >
            <mat-option
              *ngFor="let item of doorIsolationItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button (click)="addDoorIsolation()" class="btn-circle" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <p>{{ slashStylingOfFormField("doorIsolation") }}</p>
    </div>
    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 80%"
        >
          <mat-label>Короб</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorFrameMaterial"
            multiple
          >
            <mat-option
              *ngFor="let item of doorFrameMaterialItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button
          (click)="addDoorFrameMaterial()"
          class="btn-circle"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <p>{{ slashStylingOfFormField("doorFrameMaterial") }}</p>
    </div>
    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 80%"
        >
          <mat-label>Добірна дошка</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorSelectionBoard"
            multiple
          >
            <mat-option
              *ngFor="let item of doorSelectionBoardItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button
          (click)="addDoorSelectionBoard()"
          class="btn-circle"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <p>{{ slashStylingOfFormField("doorSelectionBoard") }}</p>
    </div>
    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 80%"
        >
          <mat-label>Лиштва</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorWelt"
            multiple
          >
            <mat-option
              *ngFor="let item of doorWeltItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button (click)="addDoorWelt()" class="btn-circle" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <p>{{ slashStylingOfFormField("doorWelt") }}</p>
    </div>

    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 100%"
        >
          <mat-label>Дверна ручка</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorHand"
            multiple
          >
            <mat-option
              *ngFor="let item of doorHandItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <p>{{ slashStylingOfFormField("doorHand") }}</p>
    </div>

    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 100%"
        >
          <mat-label>Дверний механізм</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorMechanism"
            multiple
          >
            <mat-option
              *ngFor="let item of doorMechanismItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <p>{{ slashStylingOfFormField("doorMechanism") }}</p>
    </div>
    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 100%"
        >
          <mat-label>Дверні петлі</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorLoops"
            multiple
          >
            <mat-option
              *ngFor="let item of doorLoopsItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <p>{{ slashStylingOfFormField("doorLoops") }}</p>
    </div>
    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 100%"
        >
          <mat-label>Дверний стопор</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorStopper"
            multiple
          >
            <mat-option
              *ngFor="let item of doorStopperItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <p>{{ slashStylingOfFormField("doorStopper") }}</p>
    </div>

    <div>
      <div class="product-constant__wrap">
        <mat-form-field
          appearance="outline"
          class="form-field"
          style="width: 80%"
        >
          <mat-label>Роздвижна система</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="doorSlidingSystem"
            multiple
          >
            <mat-option
              *ngFor="let item of doorSlidingSystemItems"
              [value]="item.name"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button
          (click)="addDoorSlidingSystem()"
          class="btn-circle"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <p>{{ slashStylingOfFormField("doorSlidingSystem") }}</p>
    </div>
    <div class="product-constant__wrap">
      <input type="checkbox" formControlName="homePage" />
      <label>Відображати на головній сторінці</label>
    </div>
    <div>
      <textarea
        formControlName="description"
        placeholder="Опис"
        style="width: 100%; min-height: 20vh"
      >
      </textarea>
    </div>
    <div class="add-images__wrap">
      <h3 class="font-h2 add-images__title">
        Завантажити папку з фотографіями
      </h3>
      <input
        class="add-images__btn"
        type="file"
        (change)="onImagesFolderSelected($event)"
        webkitdirectory
        multiple
      />
    </div>
    <div class="btn-create">
      <button mat-raised-button color="accent" (click)="submit()">
        {{ isEditMode() ? "Редагувати" : "Створити" }}
      </button>
    </div> -->
  </form>
</mat-dialog-content>
