<header class="header">
  <div class="container">
    <div class="header-wrap">
      <div class="header-logo-block">
        <div class="logo-wrap">
          <a [routerLink]="''" class="logo-link-wrap">
            <img class="logo" src="assets/header/logo.png" alt="" />
          </a>
        </div>
        
        <h3>
          <a class="header-phone phone-mobile-font" href="tel:+380507779151"
            >+38(050)777-91-51</a
          >
        </h3>
        <h3>
          <a class="header-phone phone-mobile-font" href="tel:+380677779151"
            >+38(067)777-91-51</a
          >
        </h3>
        <h3>
          <a class="header-phone phone-mobile-font" href="tel:+380937779151"
            >+38(093)777-91-51</a
          >
        </h3>
      </div>
      <div class="header-info-block">
        <a [routerLink]="'/store/contacts'" class="info-block-text">Про нас</a>
        <a [routerLink]="'/store/how-order'" class="info-block-text"
          >Оплата і доставка</a
        >
        <div class="info-block-icons">
          <img src="assets/header/icons/inst.svg" alt="" />
          <img src="assets/header/icons/facebook.svg" alt="" />
          <img src="assets/header/icons/youtube.svg" alt="" />
        </div>
        <div class="info-block-time">
          <p>9:00 - 18:00</p>
          <p class="p-sm">без вихідних</p>
        </div>
        <img
          (click)="toBasket()"
          class="basket-img"
          src="assets/header/basket.png"
          alt=""
        />
      </div>
    </div>
  </div>
</header>
