<main class="main">
  <section class="certificates">
    <div class="container">
      <h1 class="certificates-title c6">{{'Сертифікати'|uppercase}}</h1>
      <div class="certificates-group">
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_rodos.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/rodos_c_1.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/rodos_c_2.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/rodos_c_3.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_neman.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/neman_c_1.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_terminus.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/terminus_c_1.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/terminus_c_2.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_korfad.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/korfad_c_1.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/korfad_c_2.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/korfad_c_3.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/korfad_c_4.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_portala.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/portala_c_1.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_bulat.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/bulat_c_1.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_artdoor.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/artdoor_c_1.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/artdoor_c_2.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/artdoor_c_3.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/artdoor_c_4.svg" (click)="showImg($event)" alt="">
        </div>
        <div class="certificates-group-item ">
          <div class="link-wrap">
            <img src="assets/section_our_manufacturers/logo_steko.png" alt="">
          </div>
          <img class="certificate" src="assets/certificates/steko_c_1.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/steko_c_2.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/steko_c_3.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/steko_c_4.svg" (click)="showImg($event)" alt="">
          <img class="certificate" src="assets/certificates/steko_c_5.svg" (click)="showImg($event)" alt="">
        </div>
      </div>
      
    </div>
  </section>
</main>



