<main class="main">
  <div class="container">
    <section class="about">
      <h1 class="about-title">{{'про нас'| uppercase}}</h1>
      <p class="about-text">
        Наш інтернет-магазин надаватє високий рівень сервісу, широкий асортимент якісної продукції та конкурентні ціни.<br>
        Ми з повною відповідальністю ставимося до наших клієнтів та партнерів. Стабільність та прямолінійність - обов'язкові атрибути<br>
        майбутніх ділових відносин.<br><br>

        Наші співробітники володіють про  фесійними знаннями та відповідально ставляться до своїх обов’язків. Ми постійно<br>
        вдосконалюємо свої знання та навички, розробляємо сучасні та ефективні рішення. Вивчаємо ринок<br>
        дверей, щоб постійно оновлювати свій асортимент, та бути в тренді.<br><br>

        Магазин співпрацює з виробниками, які є лідерами на україньскому та європейському просторі ринку дверей. Наші<br>
        виробники використовують передові технології, високоякісну деревину, екологічні лаки та краски, а також екошпон, і ПВХ<br>
        плівки.<br>
        Вся продукція підтверджується відповідними сертифікатами.
      </p>
    </section>
    <section class="our-manufacturers">
      <dsf-our-manufacturers></dsf-our-manufacturers>
    </section>
  </div>
</main>


