<main class="main">
  <div class="container">
    <section class="about">
      <h1 class="about-title">{{'про нас'| uppercase}}</h1>
      <div class="about-text-wrap">
        <p class="about-text">
          Наш інтернет-магазин надає високий рівень сервісу, широкий асортимент якісної продукції та конкурентні ціни.
          Ми з повною відповідальністю ставимося до наших клієнтів та партнерів. Стабільність та прямолінійність - обов'язкові атрибути
          майбутніх ділових відносин.
        </p>
        <p class="about-text"> 
          Наші співробітники володіють професійними знаннями та відповідально ставляться до своїх обов’язків. Ми постійно
          вдосконалюємо свої знання та навички, розробляємо сучасні та ефективні рішення. Вивчаємо ринок
          дверей, щоб постійно оновлювати свій асортимент, та бути в тренді.
        </p>
        <p class="about-text">
          Магазин співпрацює з виробниками, які є лідерами на україньскому та європейському просторі ринку дверей. Наші
          виробники використовують передові технології, високоякісну деревину, екологічні лаки та фарби, а також екошпон, і ПВХ
          плівки.
          Вся продукція підтверджується відповідними сертифікатами.
        </p>
      </div>
    </section>
    <section class="our-manufacturers">
      <dsf-our-manufacturers></dsf-our-manufacturers>
    </section>
  </div>
</main>


