@import 'mixins';
@import 'colors';
// mat panel

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel{
  border-radius: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
              0px 2px 2px 0px rgb(0 0 0 / 14%)
}

.sidebar{
  &-body{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }
  &-title{
    @include fontMain(400, 1.325rem, 23px);
    margin-bottom: 12px;
  }
  &-link{
    color: $c6;
  }
  &-sub-menu{
    margin: 10px 0 0 5px;
  }
  &-checkbox{
    margin-left: 10px;
  }
}

.filter{
  &-title{
    @include fontMain(400, 1.325rem, 23px);
    margin-bottom: 24px;
  }
  &-block{
    color: $c3;
    margin: 15px 0 0 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }
  &-input{
    margin-bottom: 20px;
  }
}

.checkbox-no-product-producer{
  margin: 20px 0;
}
