


<mat-accordion multi>
  <mat-expansion-panel [expanded]="sidebarService.isExpandedInteriorDoor$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title class="sidebar-link">
        {{'Всі міжкімнатні двері'}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sidebar-body">
      <h3 class="sidebar-title">{{'бренди'|uppercase}}</h3>
      <mat-checkbox class="example-margin"
          [checked]="(sidebarService.producerBlocks$ | async)?.interiorDoorProducersBlock?.completed"
          [indeterminate]="someComplete((sidebarService.producerBlocks$ | async)?.interiorDoorProducersBlock)"
          (change)="setAll($event.checked, sidebarService.producerBlocks.interiorDoorProducersBlock)"
          *ngIf="sidebarService.producerBlocks.interiorDoorProducersBlock.subProductProducers.length !== 0"
          >
        {{sidebarService.producerBlocks.interiorDoorProducersBlock.name}}
      </mat-checkbox>
      
      <mat-checkbox class="sidebar-checkbox"
        color="accent"
       *ngFor="let checkbox of (sidebarService.producerBlocks$ | async)?.interiorDoorProducersBlock?.subProductProducers"
       [(ngModel)]="checkbox.completed"
       (ngModelChange)="updateAllComplete(sidebarService.producerBlocks.interiorDoorProducersBlock);"
       >
        {{checkbox.name}}
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="sidebarService.isExpandedEntranceDoor$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title class="sidebar-link">
        {{'Всі вхідні двері'}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sidebar-body">
      <h3 class="sidebar-title">{{'бренди'|uppercase}}</h3>
      <mat-checkbox class="example-margin"
          [checked]="(sidebarService.producerBlocks$ | async)?.entranceDoorProducersBlock?.completed"
          [indeterminate]="someComplete(sidebarService.producerBlocks.entranceDoorProducersBlock)"
          (change)="setAll($event.checked, sidebarService.producerBlocks.entranceDoorProducersBlock)"
          *ngIf="sidebarService.producerBlocks.entranceDoorProducersBlock.subProductProducers.length !== 0"
          >
        {{sidebarService.producerBlocks.entranceDoorProducersBlock.name}}
      </mat-checkbox>
      <mat-checkbox class="sidebar-checkbox"
        color="accent"
       *ngFor="let checkbox of (sidebarService.producerBlocks$ | async)?.entranceDoorProducersBlock?.subProductProducers"
       [(ngModel)]="checkbox.completed"
       (ngModelChange)="updateAllComplete(sidebarService.producerBlocks.entranceDoorProducersBlock)"
       >
        {{checkbox.name}}
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="sidebarService.isExpandedFurniture$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title class="sidebar-link">
        {{'Фурнітура'}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <h3 class="sidebar-title">{{'бренди'|uppercase}}</h3>
      <mat-checkbox class="example-margin"
          [checked]="(sidebarService.producerBlocks$ | async)?.furnitureProducersBlock?.completed"
          [indeterminate]="someComplete(sidebarService.producerBlocks.furnitureProducersBlock)"
          (change)="setAll($event.checked, sidebarService.producerBlocks.furnitureProducersBlock)"
          *ngIf="sidebarService.producerBlocks.furnitureProducersBlock.subProductProducers.length !== 0"
          >
        {{sidebarService.producerBlocks.furnitureProducersBlock.name}}
      </mat-checkbox>
      <mat-checkbox class="sidebar-checkbox"
        color="accent"
       *ngFor="let checkbox of (sidebarService.producerBlocks$ | async)?.furnitureProducersBlock?.subProductProducers"
       [(ngModel)]="checkbox.completed"
       (ngModelChange)="updateAllComplete(sidebarService.producerBlocks.furnitureProducersBlock)"
       >
        {{checkbox.name}}
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="sidebarService.isExpandedWindow$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title class="sidebar-link">
        {{'Вікна'}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <h3 class="sidebar-title">{{'бренди'|uppercase}}</h3>
      <mat-checkbox class="example-margin"
          [checked]="(sidebarService.producerBlocks$ | async)?.windowsProducersBlock?.completed"
          [indeterminate]="someComplete(sidebarService.producerBlocks.windowsProducersBlock)"
          (change)="setAll($event.checked, sidebarService.producerBlocks.windowsProducersBlock)"
          *ngIf="sidebarService.producerBlocks.windowsProducersBlock.subProductProducers.length !== 0"
          >
        {{sidebarService.producerBlocks.windowsProducersBlock.name}}
      </mat-checkbox>
      <mat-checkbox class="sidebar-checkbox"
        color="accent"
       *ngFor="let checkbox of (sidebarService.producerBlocks$ | async)?.windowsProducersBlock?.subProductProducers"
       [(ngModel)]="checkbox.completed"
       (ngModelChange)="updateAllComplete(sidebarService.producerBlocks.windowsProducersBlock)"
       >
        {{checkbox.name}}
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="filter-block">
  <h3 class="filter-title">ФІЛЬТРИ</h3>
  <h4 class="filter-title">Пошук</h4>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Назва товара</mat-label>
      <input
        [(ngModel)]="model"
        (ngModelChange)="modelChanged()"
        matInput
        placeholder="Впишіть Назву товара"
      />
    </mat-form-field>
    <mat-checkbox class="checkbox-no-product-producer"
      color="accent"
      [(ngModel)]="noProductProducers"
      (ngModelChange)="setNoProductProducersValue(noProductProducers)"
    >
      Без виробника
    </mat-checkbox>

  <h4 class="filter-title">Ціна</h4>
  <div>
    <ngx-slider  [(value)]="value" [(highValue)]="highValue" [options]="options" (userChangeEnd)="getEvent($event)" ></ngx-slider>
  </div>
  

</div>


