<header class="header">
  <div class="container">
    <h1 class="font-h2">Дверний магазин</h1>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><button class="nav-link" routerLink="/main-panel/products">Продукти</button></li>
        <li class="nav-item"><button class="nav-link" routerLink="/main-panel/orders">Замовлення</button></li>
        <li class="nav-item"><button class="nav-link" routerLink="/main-panel/carousels">Наші роботи</button></li>
        <li class="nav-item"><button class="nav-link"(click)="logout()" >LogOut</button></li>
      </ul>
      <ul class="nav-list">
        <li class="nav-item"><button class="nav-link" (click)="deleteAllInteriorDoors()">Видалити усі "Міжкімнатні двері"</button></li>
        <li class="nav-item"><button class="nav-link" (click)="deleteAllEntranceDoors()">Видалити усі "Вхідні двері"</button></li>
        <li class="nav-item"><button class="nav-link" (click)="deleteAllFurnitures()">Видалити усю "Фурнітуру"</button></li>
        <li class="nav-item"><button class="nav-link" (click)="deleteAllWindows()">Видалити усі "Вікна"</button></li>
      </ul>
    </nav>
  </div>
</header>
