<main class="main">
  <div class="container">
    <section class="card">
      <h2 *ngIf="product !== null" class="card-title font-h2">{{product.typeOfProduct.name}} “{{product.name}}”  {{product.productProducer !== null ? 'бренду ' + product.productProducer.name : ''}}</h2>
      <div class="card-flex-wrapper">
        <div class="card-photo-block">
          <div  class="card-img-wrap">
            <img *ngIf="product !== null" class="card-img-big" [src]="choosenItemImage" alt="">
          </div>
        </div>
        <div  [ngSwitch]="true" class="card-calculator-block">
          <div  *ngSwitchCase="(productService.product$ | async)?.typeOfProduct!.name === 'Двері міжкімнатні'" class="card-calculator-content">
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Ширина полотна</mat-label>
              <mat-select [(value)]="selectedFabricMaterialWidth" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.fabricMaterialWidth" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Короб</mat-label>
              <mat-select [(value)]="selectedFrameMaterial" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorFrameMaterial" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Добірна дошка</mat-label>
              <mat-select [(value)]="selectedDoorSelectionBoard" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorSelectionBoard" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Лиштва</mat-label>
              <mat-select [(value)]="selectedDoorWelt" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorWelt" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Дверна ручка</mat-label>
              <mat-select [(value)]="selectedDoorHand" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorHand" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Дверний механізм</mat-label>
              <mat-select [(value)]="selectedDoorMechanism" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorMechanism" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Дверні петлі</mat-label>
              <mat-select [(value)]="selectedDoorLoops" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorLoops" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Дверний стопор</mat-label>
              <mat-select [(value)]="selectedDoorStopper" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorStopper" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Роздвижна система</mat-label>
              <mat-select [(value)]="selectedDoorSlidingSystem" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.doorSlidingSystem" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div  *ngSwitchCase="(productService.product$ | async)?.typeOfProduct!.name === 'Вікна'" class="card-calculator-content">
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Москітна сітка</mat-label>
              <mat-select [(value)]="selectedMosquitoNet" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.mosquitoNet" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Підвіконня</mat-label>
              <mat-select [(value)]="selectedWindowSill" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.windowSill" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Відлив</mat-label>
              <mat-select [(value)]="selectedWindowEbb" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.windowEbb" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Ручка віконна</mat-label>
              <mat-select [(value)]="selectedWindowHand" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.windowHand" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Дитячий замок</mat-label>
              <mat-select [(value)]="selectedChildLock" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.childLock" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Заглушка домогосподарки</mat-label>
              <mat-select [(value)]="selectedHousewifeStub" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.housewifeStub" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Доповнення до стеклопакету</mat-label>
              <mat-select [(value)]="selectedGlassPocketAdd" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.glassPocketAdd" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Ламінація</mat-label>
              <mat-select [(value)]="selectedLamination" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.lamination" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="card-calculator-field" color="primary" >
              <mat-label>Профіль</mat-label>
              <mat-select [(value)]="selectedProfile" (valueChange)="addProp()">
                <mat-option *ngFor="let item of product!.profile" [value]="item" >{{item.name !== '--- Оберіть ---' ? item.name + ' +' + item.price + ' грн' : item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-info-wrap">
          <div  class="info-left-block" >
            <div [ngSwitch]="true" class="info-title-wrap">
              <p class="info-title-1 info-title font-p-sm " *ngSwitchCase="product?.inStock === 'В наявності'">{{product?.inStock}}</p>
              <p class="info-title-2 info-title font-p-sm " *ngSwitchCase="product?.inStock === 'Під замовлення'">{{product?.inStock}}</p>
              <p class="info-title-3 info-title font-p-sm " *ngSwitchCase="product?.inStock === 'Немає в наявності'">{{product?.inStock}}</p>
              <p class="info-title-4 info-title font-p-sm " *ngSwitchCase="product?.inStock === 'Закінчується'">{{product?.inStock}}</p>
              <p style="text-decoration: underline;">{{product?.price}}.00 грн</p>
            </div>
            
            <button class="info-btn bg6 c1" (click)="toBasket()" ><img class="info-icon-basket" src="assets/header/basket.png" alt="">{{'купити'|uppercase}}</button>
            <div class="info-phone-group">
              <div class="info-phone-wrap">
                <img class="info-phone-icon" src="assets/catalog/icons/phone_icon.svg" alt="">
                <a href="tel:+380507779151" class="info-phone-tel font-p-sm c7">+38(050)777-91-51</a>
              </div>
              <div class="info-phone-wrap">
                <img class="info-phone-icon" src="assets/catalog/icons/phone_icon.svg" alt="">
                <a href="tel:+380677779151" class="info-phone-tel font-p-sm c7">+38(067)777-91-51</a>
              </div>
              <div class="info-phone-wrap">
                <img class="info-phone-icon" src="assets/catalog/icons/phone_icon.svg" alt="">
                <a href="tel:+380937779151" class="info-phone-tel font-p-sm c7">+38(093)777-91-51</a>
              </div>
            </div>
            <button [routerLink]="'/store/how-order'" class="info-btn-link font-p-sm bg1">Доставка і оплата</button>
            <p class="info-p-add c6">
              <span class="info-p-span text-underline">Безкоштовна доставка</span>: Доставка в по місту у подарунок, при купівлі товару на суму від 30 000 грн.
            </p>
          </div>

          
          
        </div>
      </div>
    </section>
    <section class="photos-arr-block">
      <h2>Доступні варіанти кольору</h2>
      <div class="photos-arr-wrap">
        <div 
          class="photos-arr-img-wrap" 
          [ngClass]="i == 0 ? 'photos-arr-img-wrap photos-arr-img-choosen' : 'photos-arr-img-wrap '"
          *ngFor="let image of product?.images; let i = index;"
          (click)="choosenImage($event, image)">
          <img  class="photos-arr-img" [src]="image" alt="">
        </div>
      </div>
    </section>
    <dsf-description></dsf-description>
  </div>
</main>


