<main class="main">
  <div class="how-order-container">
    <section class="forms-payvment">
      <h1 class="forms-payvment-title">
        {{'Оплата і доставка'| uppercase}}
      </h1>
      <img class="forms-payvment-banner" src="assets/how-order/banner_1.svg" alt="">
      <ul class="forms-payvment-list">
        <li><p>Оплата готівкою у національній валюті.</p></li>
        <li><p>Оплата банківською карткою Visa/Mastercard</p></li>
      </ul>
      <div class="forms-payvment-group">
        <div class="forms-payvment-card">
          <p>Приват24</p>
          <img src="assets/how-order/privat_24.svg" alt="">
        </div>
        <div class="forms-payvment-card">
          <p>МоноБанк</p>
          <img src="assets/how-order/monobank.svg" alt="">
        </div>
      </div>
      <p class="forms-delivery-text">З товаром ми надаємо оригінали всіх документів: договір, чек про оплату, видаткова накладна, а при оплаті карткою: рахунок-фактура,
        видаткова накладна, податкова накладна.</p>
    </section>
    <section class="forms-delivery">
      <img class="forms-delivery-banner" src="assets/how-order/banner_2.svg" alt="">
      <ul class="forms-delivery-list">
        <li><p>Самовивіз. Якщо встановленням дверей Ви вирішили зайнятися<span> самостійно, Ваше замовлення Ви можете забрати зі складу самостійно.</span></p></li>
        <li><p>Доставка автомобілем до під'їзду</p></li>
        <li><p>Повний пакет, тобто встановлення здійснюється нашими фахівцями.</p></li>
      </ul>
      <p class="forms-delivery-text">Після надходження замовленого товару на склад ми зв'язуємось з Вами та домовляємося про дату та час доставки. За потреби надаються послуги
         з підйому дверей до квартири.</p>
      <p class="p-sm-i">
        Обов'язково, при отриманні замовлення переконайтеся в цілісності упаковки! Зовнішня упаковка може мати незначні дефекти, зумовлені
        особливостями транспортування та впливають на якість товарів. Будь ласка, переконайтесь у відсутності зовнішніх пошкоджень товару
        та його повної комплектації у присутності кур'єра.
        На жаль, після підписання Вами документів про прийом замовлення, ми не зможемо прийняти претензію про наявність зовнішніх пошкоджень
        товару, а також претензії щодо комплектації.
      </p>
      <p class="p-sm">
        Доставка по місту у подарунок, при купівлі товару на суму від 30 000 грн.
      </p>
    </section>
  </div>
</main>

