@import 'colors';
@import 'mixins';

.order-form{
  padding: 30px 30px 0 100px;
  @media(max-width: 700px){
    padding: 15px 15px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-wrap{
    // width: 960px;
    padding: 0 40px 0 25px;
    @media(max-width: 550px){
      padding: 0;
    }
  }
  &-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 700px) {
      display: block;
    }
  }
  &-btn{
    width: 170px;
    padding: 15px 30px;
    border: none;
    outline: none;
    transition: all .3s ease;
    letter-spacing: 0.1em;
    cursor: pointer;
    &:first-child{
      margin-right: 10px;
      &:hover{
        opacity: 0.9;
      }
    }
    &:disabled{
      background-color: $c4;
    }
    @media(max-width: 700px){
      width: 100px;
      padding: 10px 20px;
      letter-spacing: 0;
      @include fontMain(400, 0.8rem, 18px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.form-field{
  width: 484px;
  height: 60px;
  margin-bottom: 22px;
  @media (max-width: 700px) {
    width: 280px;
  }
  
}

.button-wrap{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}


.yellow{
  background-color: $c6;
}


.radio{
  &-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &-item{
    margin-right: 40px;
  }
}